.active-menu {
    border-left: solid 2px red;
}

.mat-list-item {
    color: #fff;
}

.avatar {
    background-color: black !important;
    color: #fff;
    font-size: x-large;
    
  }
.user {
    align-items: center;
}

