<div class="navigator-container">
    <mat-card class="avatar">
        <img mat-card-avatar src="./assets/img/avatar.JPEG" alt="">
        <span class="user">Eduardo</span>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-action-list>
        <mat-list-item routerLink="">
            <p matLine>Inicio</p>
        </mat-list-item>
        <mat-list-item *ngFor="let menu of genres" [routerLink]="menu.id.toString()" routerLinkActive="active-menu">
            <p matLine>{{menu.name}}</p>
        </mat-list-item>
    </mat-action-list>
</div>

