.movie-image {
    height: 50%;
    width: 100%;
    background-size: cover;
    background-color: #141414;
    position: relative;
}

.close-button  {
    color: #fff;
    position: absolute;
    right: 6px;
    top: 8px;
}

.movie-title {
    position: absolute;
    bottom: 0;
    height: 56px;
    background-color: rgb( 0 0 0 / 50%) ;
    width: calc(100% - 16px);
    color: #fff;
    font-size: x-large;
    padding-top: 16px;
    padding-left: 16px;
}

.movie-overview span {
    padding: 16px !important;
    text-align: justify;
}

.vote-average {
    color: green;
    font-weight: bold;
}

.release-date {
    color: white;
    font-weight: bold;
}

.mat-grid-list{
    background-color: #000;
    color: #fff;
}

.mat-dialog-container {
    background: #000;
}

.mat-icon {
    align-items: center;
}