/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-toolbar.mat-primary {
    background: #000000;
    color: #fff;
  }

  .mat-toolbar {
    background:rgb(24, 22, 22) !important;
  }
  
  .mat-drawer-container {
    background-color: black !important;
  }

  .navigator-container {
    background:rgb(24, 22, 22) !important;
    color: #fff;
  }

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}

.mat-dialog-container {
    padding: 0 !important;
}
